@model IsPlanlamaAPI.Contract.Common.Request.PlanDtos.CreatePlanDtos

@{
    ViewData["Title"] = "Yeni Plan Ekle";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    <div class="form-group mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="IsAciklama" class="form-label"></label>
        <textarea asp-for="IsAciklama" class="form-control"></textarea>
        <span asp-validation-for="IsAciklama" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Place" class="form-label"></label>
        <input asp-for="Place" class="form-control" />
        <span asp-validation-for="Place" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="IsGunu" class="form-label"></label>
        <input asp-for="IsGunu" type="date" class="form-control" />
        <span asp-validation-for="IsGunu" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="AssignedUserId" class="form-label"></label>
        <select asp-for="AssignedUserId" class="form-control" asp-items="@(ViewBag.Users as List<SelectListItem>)">
            <option value="">Kişi Seç </option>
        </select>
        <span asp-validation-for="AssignedUserId" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="TeamId" class="form-label"></label>
        <select asp-for="TeamId" class="form-control" asp-items="@(ViewBag.Teams as List<SelectListItem>)">
            <option value="">Takım Seç </option>
        </select>
        <span asp-validation-for="TeamId" class="text-danger"></span>
    </div>

   

    <button type="submit" class="btn btn-success">Kaydet</button>
    <a asp-action="Index" class="btn btn-secondary">Geri</a>
</form>

